@page
@using PACS.Models;
@model PACS.Pages.ListCyclesModel
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
@{
    ViewData["Title"] = "Список контроля событий";
}
<style>
    a {
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand">СКУД</a>
    <div  id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-danger" asp-page="/Index">Выйти</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" asp-page="/ListPass">Проходы</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" asp-page="/ListOffenders" asp-page-handler="@Model.UserSession">Нарушители</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h3 class="align-content-center">Список циклов</h3>
        </div>
    </div>
</div>

<table class="table container">
    <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Время КПП1</th>
            <th scope="col">Время КПП2</th>
            <th scope="col">∆t</th>
        </tr>
        <style type="text/css">
            TABLE {
                border-collapse: collapse; /* Убираем двойные линии между ячейками */
                width: 300px; /* Ширина таблицы */
            }

            TH, TD {
                border: 1px solid black; /* Параметры рамки */
                text-align: center; /* Выравнивание по центру */
                padding: 4px; /* Поля вокруг текста */
            }
        </style>
    </thead>
    <tbody>
        @try
        {
            if(@Model.Cycles == null)
            {
                return;
            }
            else
            {
                @foreach (Cycle cycles in @Model.Cycles)
                {
                    <tr>
                        <td>@cycles.Event.Name</td>
                        <td>@cycles.TimeP1.Value.TimeOfDay</td>
                        <td>@cycles.TimeP2.Value.TimeOfDay</td>
                        @if (cycles.Delta <= new TimeSpan(0, 0, 10))
                        {
                            <td itemid="deltaG">@cycles.Delta</td>
                        }
                        else if (cycles.Delta > new TimeSpan(0, 0, 10) && cycles.Delta <= new TimeSpan(0, 0, 20))
                        {
                            <td itemid="deltaY">@cycles.Delta</td>
                        }
                        else if (cycles.Delta > new TimeSpan(0, 0, 20))
                        {
                            <td itemid="deltaR">@cycles.Delta</td>
                        }
                    </tr>
                }
            }
        }
        catch
        {
            return;
        }
    </tbody>
</table>


<script type="text/javascript">
    // Получение всех ячеек таблицы с классом "delta"
    var deltaCells = document.querySelectorAll("td[itemid='deltaG']");
    var deltaCellsY = document.querySelectorAll("td[itemid='deltaY']");
    var deltaCellsR = document.querySelectorAll("td[itemid='deltaR']");

    deltaCells.forEach(function (cell) {
        changeBackground(cell, "green");
    });

    deltaCellsY.forEach(function (cell) {
        changeBackground(cell, "yellow");
    });

    deltaCellsR.forEach(function (cell) {
        changeBackground(cell, "red");
    });

    function changeBackground(cell, color) {
        if (color === "green") {
            cell.style.backgroundColor = "#98FB98"; // установить цвет фона ячейки
        }
        else if (color === "yellow") {
            cell.style.backgroundColor = "#FCB32B"; // установить цвет фона ячейки #FFA500  #F0E68C
        }
        else if (color === "red") {
            cell.style.backgroundColor = "#FF6347"; // установить цвет фона ячейки
        }
    }

    window.onload = function () {
        deltaCells.forEach(function (cell) {
            changeBackground(cell, "green");
        });

        deltaCellsY.forEach(function (cell) {
            changeBackground(cell, "yellow");
        });

        deltaCellsR.forEach(function (cell) {
            changeBackground(cell, "red");
        });
        setTimeout('refresh()', 5000); // интервал обновления 10 секунд (10000 миллисекунд)
        
    }

    function refresh() {
        window.location.reload(true);
        window.location.r
    }
    
</script>
