@page
@using PACS.Models;
@model PACS.Pages.ListCyclesModel
@{
    ViewData["Title"] = "Список контроля событий";
}
<style>
    a {
        margin-left: 10%;
        margin-right: 10%;
    }

    .btn-warning {
        background-color: #fc7703;
        color: white;
    }

        .btn-warning:hover {
            background-color: #fc6b03;
            color: white;
        }
</style>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">СКУД</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-danger" asp-page="/Index">Выйти</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" asp-page="/ListPass">Проходы</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" asp-page="/ListOffenders" asp-page-handler="@Model.UserSession">Нарушители</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h3 class="align-content-center">Список контроля событий</h3>
        </div>
    </div>
</div>

<table class="table container">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Код</th>
            <th scope="col">Время проезда через первую точку</th>
            <th scope="col">Время проезда через вторую точку</th>
            <th scope="col">Время между точками</th>
        </tr>
    </thead>
    <tbody>
        @try
        {
            @foreach (Cycle cycles in @Model.Cycles)
            {
                <tr>
                    <th scope="row">@cycles.Id</th>
                    <td>@cycles.W26</td>
                    <td>@cycles.TimeP1</td>
                    <td>@cycles.TimeP2</td>
                    @if(cycles.Delta < new TimeSpan(0,0,10))
                    {
                        <td itemid="deltaG">@cycles.Delta</td>
                    }
                    else if (cycles.Delta > new TimeSpan(0, 0, 10) && cycles.Delta < new TimeSpan(0, 0, 20))
                    {
                        <td itemid="deltaY">@cycles.Delta</td>
                    }
                    else if(cycles.Delta > new TimeSpan(0, 0, 20))
                    {
                        <td itemid="deltaR">@cycles.Delta</td>
                    }
                </tr>
            }
        }
        catch
        {
            return;
        }
    </tbody>
</table>


<script type="text/javascript">
    // Получение всех ячеек таблицы с классом "delta"
    var deltaCells = document.querySelectorAll("td[itemid='deltaG']");
    var deltaCellsY = document.querySelectorAll("td[itemid='deltaY']");
    var deltaCellsR = document.querySelectorAll("td[itemid='deltaR']");

    // Добавление обработчика клика на каждую ячейку
    deltaCells.forEach(function (cell) {
        cell.addEventListener("click", function () {
            changeBackground(cell, "green"); // вызов метода changeBackground с текущей ячейкой и передачей цвета
        });
    });

    deltaCellsY.forEach(function (cell) {
        cell.addEventListener("click", function () {
            changeBackground(cell, "yellow"); // вызов метода changeBackground с текущей ячейкой и передачей цвета
        });
    });

    deltaCellsR.forEach(function (cell) {
        cell.addEventListener("click", function () {
            changeBackground(cell, "red"); // вызов метода changeBackground с текущей ячейкой и передачей цвета
        });
    });

    function changeBackground(cell, color) {
        if (color === "green") {
            cell.style.backgroundColor = "green"; // установить цвет фона ячейки
        }
        else if (color === "yellow") {
            cell.style.backgroundColor = "yellow"; // установить цвет фона ячейки
        }
        else if (color === "red") {
            cell.style.backgroundColor = "red"; // установить цвет фона ячейки
        }
    }

    
</script>
